<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
    <style>
        form {
            border-radius: 50px;
            border-style: solid;
            border-color: #88c2ea;
            background: #d6e8f8;
            color: #1d3f5a;
            width: 300px;
        }

        input {
            color: #1d3f5a;
            background: #d2e4f6;
            border-color: #88c2ea;
            font-size: 20px;

        }
    </style>
</head>
<body>

<div style="text-align: center;">
    <br>
    <form style="display: inline-block; text-align: center" action="/users">
        <br>
        <input type="submit" value="Все пользователи тут"/>
        <br><br>
    </form>

</div>
</body>
</html>